body
{
  background:url(../img/bg.jpg) #F4F5F6 center top repeat-x;
  padding-bottom:40px;
  padding-top:30px;
}

html,body
{
  height:100%;
}

/*********** MAP WIDGET STYLES *************/

div.olMap, div.widget-cgmap {
  height:300px;
}
div.olMap img, div.widget-cgmap img {
  max-width: none;
}

/**************** END MAP WIDGET STYLES *********************/

/**************** UPLOAD WIDGET STYLES *********************/
.qq-upload-drop-area {
  background-color:rgba(91, 183, 91, .1);
}
.qq-upload-drop-area-active { background-color:rgba(91, 183, 91, .25);}
.qq-upload-list {display: block; margin:15px 0; padding:0; list-style:disc; clear: both; list-style: none outside none}

.qq-upload-button {
  display: inline-block;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.qq-upload-button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.qq-upload-list li {
    clear: both;
    display: block;
    list-style: none outside none;
    background-color:#F5F5F5;
    border:3px solid #E5E5E5;
    margin:5px 0 0 0;
    padding:5px 10px;
    font-size: 11px;
}

.qq-upload-file {}
.qq-upload-spinner {display:none; background: url("++resource++quickupload_static/loading.gif"); width:15px; height:15px; vertical-align:text-bottom; margin-left: 10px}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-list .qq-upload-cancel {
   display: block;
   float: right;
   width: 16px;
   height: 16px;
   background: transparent url("++resource++quickupload_static/cancel.png") top left no-repeat;
}



.qq-upload-fail { background-color: #FDE5DD !important; }
.qq-upload-failed-text {display:none; margin-left: 10px;}
.qq-upload-fail .qq-upload-failed-text {display:inline; color: red;}


.qq-upload-list li .qq-upload-size {
    clear: both;
    min-height: 17px;
}

.qq-upload-list li .sizeContainer {
    background-color: #FFFFFF;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    margin-top: 6px;
    width: 75%;
    height: 3px;
    float: left;
}
.qq-upload-list li .sizeContainer .sizeBar {
    background-color: #0099FF;
    width: 2px;
    height: 3px;
}

.qq-upload-fail .sizeBar { background-color: red !important; }

.qq-upload-list li .sizeTotal {
   width: auto;
   float: right;
   text-align: right;
}

.qq-upload-infos {
   clear: both;
}

.qq-upload-list li .server-error {
    color: #880000;
    clear: both;
}

/* IE7 fixes */

*+html .quick-uploader #label-upload {
    float: none !important;
}

*+html .quick-uploader .qq-upload-button {
    height: 20px !important;
    padding: 4px !important;
}

*+html .quick-uploader .qq-upload-button input[type="file"] {
    font-size: 23px !important;
}
div.qq-upload-drop-area {
  padding: 3em 1em;
  margin-bottom:1.5em;
  border: 2px dotted rgb(91, 183, 91);
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  border-radius: 4px;
}
#itemdetails label#label-upload {
  font-size:1.1em;
}



/**************** END UPLOAD WIDGET STYLES *********************/


@media (min-width:1200px) {
  #main-hero
  {
    background:url(../img/globe.jpg) #f5f5f5 left top no-repeat;
    background-position:-360px -160px;
  }
  
  .sidebar-nav.affix
  {
    margin-top:-200px;
    width:270px;
  }
}

@media (min-width:979px) and (max-width:1200px){
  .sidebar-nav.affix
  {
    margin-top:-200px;
    width:218px;
  }
}


@media (min-width:768px) and (max-width:979px) {
  #main-hero
  {
    background:url(../img/globe.jpg) #f5f5f5 left top no-repeat;
    background-position:-440px -160px;
  }
  
  .sidebar-nav.affix
  {
    margin-top:-230px;
    width:165px;
  }
}

@media (max-width:767px) {
  body
  {
    padding-left:0;
    padding-right:0;
  }
  
  footer,.wrapper
  {
    padding-left:20px;
    padding-right:20px;
  }
  
  #main-hero
  {
    background:url(../img/globe.jpg) #f5f5f5 left top no-repeat;
    background-position:-40px 0 -160px;
  }
  
  .sidebar-nav.affix
  {
    margin-top:-200px;
    width:270px;
  }
}

@media (max-width:480px) {
  #main-hero
  {
    background:url(../img/globe.jpg) #f5f5f5 left top no-repeat;
    background-position:-360px -160px;
  }
  
  .sidebar-nav.affix
  {
    margin-top:-200px;
    width:270px;
  }
}


h4 {
  color: #777;
  display: block;
  float: left;
  font-size: 1.3em;
  font-weight: 200;
  text-shadow: 0 1px 0 #FFF;
  line-height: 1.2em;
}
 dd, dt {
  margin-left:0;
 }
.morefilters h4
{
  margin-left:0;
}

label
{
  font-size:14px;
  font-weight:400;
  margin-bottom:8px;
}

.wrapper
{
  height:auto!important;
  margin:0 auto -200px;
  min-height:100%;
}

.push
{
  clear:both;
  height:263px;
}

.pad20
{
  padding:20px;
}

.container
{
  max-width:1170px;
  width:100%;
}


.visualClear {
clear: both;
}

.navbar
{
  background-color:#FFF;
}

.facets .nav-list
{
  padding-left:8px;
  padding-right:3px;
}

.facets a span:nth-child(1)
{
  display:inline-block;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:8em;
}

.facets .facetname
{
  vertical-align:middle;
}

.facets input[type=checkbox]
{
  margin:0;
  vertical-align:middle;
}

.facets .nav > li
{
  line-height: 22px;
}

.facets .nav > li > a {
display: inline;
padding: 3px 0;
margin-left: 3px;

}

.topbar
{
  background-color:#093D24;
  color:silver;
  font-size:10pt;
  height:25px;
  letter-spacing:.2em;
  margin-bottom:0;
  padding-top:5px;
}

#bannerheader
{
  height:95px;
}

.label-recessed
{
  -webkit-box-shadow:inset 0 1px 2px -1px rgba(0,0,0,0.4),0 0 0 #000;
  background-color:rgba(0,0,0,0.07);
  border-bottom:1px solid #FFF;
  border-radius:12px;
  box-shadow:inset 0 1px 2px -1px rgba(0,0,0,0.4),0 0 0 #000;
  color:rgba(0,0,0,0.4);
  display:inline-block;
  font-style:normal;
  font-weight:700;
  margin:0;
  padding:2px 8px;
  text-shadow:0 1px 0 rgba(255,255,255,0.8);
}

.label-recessed-skinny
{
  line-height:1em;
}

.nav-header
{
  color:#999;
}

#main-hero
{
  background:url(../img/globe.jpg) #f5f5f5 left top no-repeat;
  background-position:-400px -160px;
}

#main-hero .tab-content
{
  background:#FFF;
  border:1px solid #DDD;
  border-top:0;
  margin-left:0;
  margin-top:-20px;
  overflow:visible;
  padding:20px;
}

#canvas
{
  width:600px;
}

#paper
{
  float:left;
  width:300px;
}

#nsw,#vic,#wa,#sa,#nt,#qld,#tas,#act,#stateplaceholder
{
  display:none;
  float:left;
  height:300px;
  width:300px;
}

.tab-pane h3
{
  line-height:0;
  margin:15px 0 30px;
}

.tab-pane form
{
  margin:0 0 -5px;
}

#stateplaceholder ul
{
  margin:0 0 10px 25px;
  padding:0;
}

.regionselect
{
  font-size:13px;
  list-style:none;
}

.regionselect li
{
  margin-top:14px;
}

#sectorsTable
{
  line-height:1em;
  text-align:center;
}

#sectorsTable img
{
  max-width:100%;
}

#sectorsTable span
{
  color:#333;
  font-size:13px;
}

#breadcrumbs
{
font-size: 12px;
color: #aaa;  
margin-left: -10px;
}

.search-choice-list
{
  display:inline;
  margin:0;
}

.search-choice-item
{
  -moz-background-clip:padding;
  -moz-border-radius:3px;
  -moz-box-shadow:0 0 2px #fff inset, 0 1px 0 rgba(0,0,0,0.05);
  -webkit-background-clip:padding-box;
  -webkit-border-radius:3px;
  -webkit-box-shadow:0 0 2px #FFF inset, 0 1px 0 rgba(0,0,0,0.05);
  background-clip:padding-box;
  background-color:#E4E4E4;
  background-image:linear-gradient(#F4F4F420%,#F0F0F050%,#E8E8E852%,#EEE100%);
  border:1px solid #AAA;
  border-radius:3px;
  box-shadow:0 0 2px #FFF inset, 0 1px 0 rgba(0,0,0,0.05);
  color:#333;
  cursor:default;
  display:inline;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#eeeeee',GradientType=0);
  font-size:13px;
  list-style:none;
  margin:3px 0 3px 5px;
  padding:3px 20px 3px 5px;
  position:relative;
}

.search-choice-item .search-choice-close
{
  background:url(../img/chosen-sprite.png) right top no-repeat;
  display:block;
  font-size:1px;
  height:13px;
  position:absolute;
  right:3px;
  top:4px;
  width:12px;
}

.keyword .search-choice-item
{
  padding:3px 5px;
}

#footer-extra
{
  background:#1C1C1C;
  color:#999;
  font-size:.9em;
  padding:10px 0;
}

#searchresults
{
  margin-top:20px;
}

#searchheader
{
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
  -webkit-border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  border-bottom:1px solid rgba(0,0,0,0.05);
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  overflow:hidden;
}

#searchheader form
{
  margin:0;
}

#searchheader h4
{
  margin: .1em .5em;
}

.panel-background-gray
{
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
  background-color:#f5f5f5;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
  min-height:20px;
  padding:10px;
}

#searchholder
{
  margin-left:235px;
}

#searchsidebar
{
  border-right:1px solid rgba(0,0,0,0.05);
  width:235px;
}

#searchmap
{
  padding:0;
}

.result_summary
{
  display:inline;
  margin-left:5px;
}

.searchlist
{
  list-style:none;
  margin:0;
  width:100%;
}

.searchitem
{
  background:#FFF;
  border-bottom:1px solid rgba(0,0,0,0.09);
}

.searchitem ul, #itemtext ul
{
  margin:0;
}
#itemtext div.results ul {
  padding: 0;
  margin: 0 0 10px 25px;
}

.searchitem h2
{
  color:#777;
  font-size:20px;
  font-weight:200;
  line-height:1.3em;
  margin:0;
  text-shadow:0 1px 0 #FFF;
}

.searchtags
{
  display:inline;
  list-style:none;
}

.searchtagitem
{
  color:#999;
  display:inline;
  font-size:12px;
  line-height:13px;
  margin-right:5px;
}

#searchtotal
{
  background:#EFEFEF;
  color:#999;
  font-size:11px;
  height:24px;
  padding:6px;
  vertical-align:middle;
  width:98.7%;
}

#searchbody
{
  background:#fff;
}

#searchbody .icon-grey{

  vertical-align: text-bottom;

}

#searchnumber
{
  color:#999;
  font-size:11px;
  line-height:13px;
  padding:0 10px;
}

#searchnumber .btn-toolbar
{
  margin-bottom:2px;
  margin-top:0;
}

#searchfacet h5
{
  color:#777;
  margin:0 0 10px 5px;
}

.searchstamp
{
  color:#999;
  font-size:11px;
  line-height:13px;
  margin:5px 0;
}

.smallspace
{
  display:block;
  height:10px;
  width:100%;
}

.whitebg
{
  background-color:#fbfbfb;
}

.bs-docs-example
{
  position:relative;
  width:97%;
}

.breadcrumb
{
  list-style:none;
  margin:5px 0 0;
  padding:0 8px;
}

#itemdetails
{
  font-size:11px;
  line-height:13px;
}

#discoverholder
{
  background:url(../img/globe_fade.jpg) #fefefe center no-repeat;
  padding-top:10px;
}

dl
{
  margin:0;
  padding:0;
}

dl.defList
{
  clear:both;
  overflow:auto;
  padding:.5em 0;
}

dl.defList dt
{
  clear:both;
  color:#666;
  float:left;
  margin:0;
  padding:2px 1em 2px 0;
  text-align:right;
}

dl.defList dd
{
  float:left;
  margin:0;
  padding:2px 0;
  text-align:left;
}

.meta-well
{
  color:#666;
  font-size:12px;
  padding:0 0 5px 10px;
}

.text-small-grey
{
  color:#999;
  font-size:12px;
  line-height:13px;
}

.pagination
{
  text-align:center;
}

#contents
{
  clear:both;
  margin:20px;
}

#contents ul li ul {
margin-top: .5em;
margin-bottom: 1.5em;
}
#contents ul li li {
list-style-type: circle;
margin-bottom: .5em;
max-width:90%;

}
#contents ul li {
line-height: 1.2em;
margin-bottom: 1em;
}
#contents ul {
list-style-type: disc;
margin-left: 2em;
line-height: 1em;
}

#contents h4
{
  float:none;
  margin:25px 0 10px;
}

#contents .field label{
  display: inline;
  cursor:pointer;
}

.Apple-tab-span
{
  height:1px;
}

.navbar-form .input-xlarge
{
  margin-right:4px;
}

select
{
  background-color:#FFF;
  border:1px solid #CCC;
  font-size:12px;
  height:25px;
  width:150px;
}

footer
{
  background:#093D24;
  border-top:1px solid #000;
  color:silver;
  padding:17px 0 0;
}

footer a
{
  color:#999;
}

footer a:hover
{
  color:#efefef;
}

#itemdetails .row
{
  margin-left:0;
}

#itemdetails .label
{
  background:none;
  display:block;
}

#itemdetails label
{
  font-size:14px;
  font-weight:400;
}

#itemdetails h4
{
  float:none;
  margin:10px 0 0;
}

#itemdetails hr
{
  margin:8px 0;
}

#parent-fieldname-title
{
  display:none;
}

#viewlet-below-content-title
{
  display:none;
}

#viewlet-above-content-body
{
  display:none;
}

#content input
{
  margin-right:0;
}

#uploadForm label.horizontal
{
  display:inline-block;
  font-size:16px;
  font-weight:700;
}

#contents .field
{
  overflow:auto;
}

#uploadForm .field input[type=text],textarea
{
  width:80%;
}
#uploadForm .field .geocoder-widget input[type=text] {
  width:60%;
}
#uploadForm .field input[type=text].datetime-widget, #uploadForm .field input[type=text].date-widget  {
  width:auto;
}

#uploadForm #uploadFormHolder .inactive
{
  display:none;
}

#uploadForm #uploadFormHolder .active
{
  display:block;
}
#uploadForm .formHelp {
  color: #777;
  display: block;
  font-weight: 300;
  margin: .5em 0;
  font-size: 0.9em;
}
#uploadForm .geocoder-widget .formHelp
{
  display:none;
}

#uploadForm .fieldTextFormat
{
  text-align:left;
}

#uploadForm .fieldTextFormat label
{
  display:inline;
}

#uploadForm select
{
  vertical-align:top;
}

#uploadForm .formControls
{
  text-align:center;
}

#uploadForm .discreet
{
  color:#666;
  display:none;
  font-size:85%;
  font-weight:400;
  padding-top:2em;
}

#uploadForm legend
{
  margin-bottom:5px;
}
.ploneSkin .mceIframeContainer {
  border: 1px solid #ccc!important;
  background: #FFF;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.ploneSkin table.mceLayout td.mceStatusbar {
  border: 1px solid #ccc!important;
  border-top: 0px!important;
  background: #f0f0f0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
label a
{
  font-size:12px;
}

hr
{
  margin:10px;
}

legend
{
  font-size:15px;
  font-weight:700;
}




.accordion
{
  margin-left:60px;
}

.tab-content
{
  margin-left:60px;
}

.sidebar-nav
{
  margin-top:20px;
}

.accordion-heading
{
  background-color:#08C;
  border-bottom:1px solid #FFF;
  color:#FFF;
}

.accordion-toggle
{
  color:#FFF;
  font-size:16px;
  text-decoration:none;
}

a.accordion-toggle:hover
{
  color:#F5F5F5;
  text-decoration:underline;
}

.expander
{
  font-size:16px;
  font-weight:700;
}

.subform
{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  background-color:grey;
  border-radius:3px;
  border-top:1px solid #e5e5e5;
  color:#F5F5F5;
  padding:15px;
}

.subform legend
{
  color:#F5F5F5;
  font-size:16px;
}

.sidebarProgress#basic
{
  background-size:50% 100%;
}

.sidebarProgress#upload
{
  background-size:80% 100%;
}

.alert
{
  /*margin:1em 0 1em -1px;
  padding:1em 0;*/
}


.row-fluid.whitebg {
  padding:2%;
  width:96%;
}
.progress
{
  height:15px;
  margin:10px 0 5px;
}

.buttonholder
{
  margin:auto;
  text-align:center;
}

.manwarning
{
  color:red;
  font-size:12px;
  font-weight:700;
}

.arrow-left
{
  border-bottom:5px solid transparent;
  border-right:5px solid #247B51;
  border-top:5px solid transparent;
  float:left;
  height:0;
  margin:15px 0 0 -2px;
  position:relative;
  width:0;
}

.tab-down
{
  background-color:#247B51;
  border:1px solid #E6E5E1;
  margin:0 5px;
  padding:10px;
}

.tab-down a
{
  color:#FFF;
}

.tab-up
{
  background-color:#f5f5f5;
  border-bottom:1px solid #E6E5E1;
  margin:1px 5px;
}

.tab-up a
{
  color:#000;
  display:block;
  padding:10px;
}

.atab a:hover
{
  text-decoration:none;
}

.tabHover
{
  background-color:#E6E5E1;
}

.popover-title
{
  font-size:16px;
  font-weight:700;
}

.popover-content ul
{
  padding:0 20px;
}

.popover-close
{
  background:url(../img/chosen-sprite.png) right top no-repeat;
  display:block;
  font-size:1px;
  height:13px;
  position:absolute;
  right:6px;
  top:6px;
  width:12px;
}
div.tasksplease-container ul.ui-sortable.tasksplease {
  margin-bottom: 1em;
  border-top: 1px dotted #bbb;
  width:81.5%;
  padding: .5em 0 1.2em;
}
div.tasksplease-container input.add_task {
  margin-left:3px;
  padding: .3em .5em;
}

div.tasksplease-container ul.ui-sortable li {
  background: #CCD6E0;
  border-radius: 4px;
  padding: .3em .5em;
  margin-bottom: 3px;
}
div.tasksplease-container ul.ui-sortable li a.edit {
  font-size: 0.8em;
  margin-right: .5em;
  float: right;
  margin-left: 1em;
}
div.tasksplease-container ul.ui-sortable li a.remove {
  font-size: 0.8em;
  float: right;
}
div.autocompleteInputWidget {
  border-top: 1px dotted #bbb;
  padding: .5em 0 0em;
  width:81.5%;
}
div.autocompleteInputWidget span.option label {
  padding: .3em .5em;
  background: #CCD6E0;
  border-radius: 4px;
  margin-bottom:3px;
}
div.autocompleteInputWidget span.option label span.label {
  background: transparent;
  text-shadow: none;
  font-weight: normal;
  color: #333;
}
div.autocompleteInputWidget span.option input[type="checkbox"] {
  margin:0;
}

div.uix-multiselect.ui-widget {
  margin-bottom:1.5em;
  width:87%!important;
  min-height: 200px!important;
}

.uix-multiselect { border: solid 0px; font-size: 0.8em; }
.multiselect-available-list {
  width:50%!important;
  left:50%!important;
  height:auto!important;
}
.multiselect-selected-list {
  width:50%!important;
  height:auto!important;
}
.geocoder-widget button {
  margin-left: .5em;
  vertical-align: top;
  padding: 4px 10px;
}
div.uix-list-container.ui-widget-content.ui-droppable {
  border-width: 0px 1px 1px 1px;
  /*height: auto!important;*/
  min-height: 150px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
}
div.uix-list-container.ui-widget-content.ui-droppable.ui-state-highlight {
  border-color:#ddd;
}
div.multiselect-available-list div.uix-list-container.ui-widget-content.ui-droppable {
  border-width: 0px 1px 1px 0px;
}

div.uix-list-container.ui-widget-content.ui-droppable .ui-state-default.option-element {
  border:0px;
  padding:0 8px;
  font-weight:normal;
  color:#333;
}

div.uix-list-container.ui-widget-content.ui-droppable .ui-state-default.option-element.ui-state-hover, div.uix-list-container.ui-widget-content.ui-droppable .option-element.ui-draggable-dragging.ui-state-hover {
  color:#fff;
  font-weight: normal;
  background-color: #5bb75b;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
}
div.uix-multiselect.ui-widget .ui-widget-header {
  background-image:none;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
div.uix-multiselect.ui-widget .multiselect-available-list .ui-widget-header {
  border-top-right-radius: 4px;
  border-left:0px;
}
div.uix-multiselect.ui-widget .multiselect-selected-list .ui-widget-header {
  border-top-left-radius: 4px;
}
div.uix-multiselect.ui-widget .header-text {
  text-transform: capitalize;
  height:3em;
  line-height: 3em;
  padding: 0 3px;
}
div.uix-multiselect.ui-widget input.uix-search.ui-widget-content.ui-corner-left {
  width:50%!important;
  border: 1px solid #aaa;
  box-shadow: inset 0px 2px 1px rgba(0,0,0,.1);
  font-size:1em;
  margin: 1.6% 1.6% 0 0;
}
.uix-multiselect .ui-widget-header .uix-control-right {
  margin-top: 2.5%;
  background-image: url(images/ui-icons_666666_256x240.png);
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #fafafa;
  height: 18px;
  width: 18px;
  box-shadow: inset 0px -7px 0px rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.1);
}
.uix-multiselect .ui-widget-header .uix-control-right:hover {
  background-image: url(images/ui-icons_ffffff_256x240.png);
  background-color:#62c462;
  border-color:#51a351;
}
.uix-multiselect .multiselect-selected-list .ui-widget-header .uix-control-right {
  background-position: -208px -48px;
}
.uix-multiselect .multiselect-available-list .ui-widget-header .uix-control-right[data-localekey="search"] {
  background-position: -160px -112px;
  margin-right:3px;
}
.uix-multiselect .multiselect-available-list .ui-widget-header .uix-control-right[data-localekey="selectAll"] {
  background-position: -240px -48px;
}
div.formControls.multi-widget-buttons {
  margin-bottom:0.5em;
  border-bottom:1px dotted #ccc;
  padding-bottom:1em;
}
.ordered-selection-field button, form button, div.tasksplease-container input.add_task, form input[type="submit"][value="Add"], form input[type="submit"][value="Remove selected"] {
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-width:1px;
}
#content-core form input[type="submit"].submit-widget {
  color: #ffffff;
  border-width: 1px;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  margin-left:3px;
  padding: .3em .5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

table.ordered-selection-field {
  width:86%;
}
table.ordered-selection-field td:nth-child(odd) {
  width:45%;
}
select.rdfmultivaluefield-field, table.ordered-selection-field select {
  padding: .75em;
width: 100%;
min-height: 170px;
}
#fieldset-aaf-login {
  width:48%;
  display:inline-block;
  float:left;
  border:1px solid #ddd;
  background-color:#f0f0f0;
  border-radius:10px;
  min-height:300px;
  margin-right:2%;
  text-align:center;
}
#fieldset-aaf-login a {
  margin-top: 3em;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0px 3px 3px rgba(0,0,0,.2);
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
}
#fieldset-aaf-login a:hover {
  box-shadow: 0px 1px 1px rgba(0,0,0,.15);
  margin-top: 3.2em;
}
#fieldset-site-login {
  width:48%;
  display:inline-block;
  float:left;
  border:1px solid #ddd;
  background-color:#f0f0f0;
  border-radius:10px;
  min-height:300px;
  text-align:center;
}
#login-form {
  text-align: left;
  margin: 1em auto 0;
  display: inline-block;
}
#login-form input {
    font-size:100%;
    width:150px;
}
#login-form label {
  width:6em;
}
#login-form input[type="submit"] {
  margin: 0 auto;
  display: block;
}
#login-form .field {
  margin-left:-1em;
} 
ul.token-input-list-facebook li.token-input-token-facebook {
  display:inline-block;
  background-color: #ccc;
  padding: 2px 10px 2px 7px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3);
  border: 1px solid #ccc;
  margin-right:10px;
}
.token-input-delete-token-facebook {
  cursor: pointer
}
ul.token-input-list-facebook li.token-input-token-facebook p {
  display:inline-block;
  margin: 0 20px 0 0;
  line-height: 1.4em;
  text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}
.token-input-dropdown-facebook p {
  margin-bottom:0;
}
li.token-input-input-token-facebook {
  margin:1em 0 2em;
}
.token-input-dropdown-facebook {
  padding: .5em;
  background: #f7f8f9;
  margin-top: -10px;
  border: 1px solid #ccc;
}
.token-input-dropdown-facebook ul {
  list-style-type: none;
  padding:0;
  margin:0;
}
.token-input-dropdown-facebook ul li {
  margin-bottom:.1em;
  padding:.3em .5em;
}
.token-input-dropdown-facebook ul li:hover {
  cursor:pointer;
  background:rgba(0,0,0,.2);
}
#token-input-form-widgets-IDublinCore-subjects {
  width: 80%!important;
}
#portlets-below {
  margin-left: .7%;
  width: 96%;
}
#portlets-below .cell {
  width: 21%;
  display: inline-block;
  margin-right: 1.5%;
  padding:1%;
  vertical-align: top;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#portlets-below .cell:nth-child(4n) {
  margin-right: 0;
}
#portlets-below .portlet.portletRss {
  margin:0;
}
#portlets-below .portlet.portletRss .portletHeader {
  font-size:1.3em;
  height:2.3em;
  border-bottom:1px solid #ddd;
  box-shadow: 0px 1px 0px #FFF;
  padding-bottom:.5em;
  margin-bottom:.5em;
}
#portlets-below .portlet.portletRss .portletHeader a {
  color:#333;
  vertical-align: middle;
  display:inline-block;
}
#portlets-below .portlet.portletRss .portletHeader a:hover {
  color: #0088cc;
  text-decoration: none;
}
#portlets-below .portlet.portletRss .portletItem {
  padding:0;
}
#portlets-below .portlet.portletRss .portletItem > a {
  font-size:.9em;
  line-height: 1.3em;
  display: block;
  padding: 8px 3px 10px;
  border-bottom:1px solid #ddd;
  margin-top:-1px;
}
#portlets-below .portlet.portletRss .portletItem > a:hover {
  background-color: rgba(0,0,0,.1);
  text-decoration: none;
  color:#000;
  margin:-1px -5px 0;
  padding:8px 8px 10px;
}
#portlets-below .portlet.portletRss .portletItem .portletItemDetails {
  display: inline-block;
  float: right;
  font-size: 0.9em;
  color: #555;
  margin: 0 0 5px 10px;
}
#portlets-below .portlet.portletRss .portletFooter a {
  margin-top:.5em;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border:1px solid #006dcc;
  background-color: #006dcc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  display: inline-block;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0,0,0, 0.3);
  vertical-align: middle;
  cursor: pointer;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius:4px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
#portlets-below .portlet.portletRss .portletFooter a:hover {
  text-decoration: none;
  background-color: #0044cc;
  background-image:none;
}
#portlets-below .portlet.portletRss .portletFooter a:active {
  background-color: #003399;
  background-image:none;
}

.z3cformInlineValidation .label {
  background: none;
  font-weight: normal;
  color: #555;
  text-shadow: none;
  display: inline;
  cursor: pointer;
  font-size:1em;
}
.z3cformInlineValidation .link a {
  font-size:1em;
}
.z3cformInlineValidation label {
  display:inline;
}
.z3cformInlineValidation .single-checkbox-widget {
  display: inline;
  vertical-align: middle;
  margin: 0;
}
.z3cformInlineValidation .option {
  padding: .3em 0;
  display: inline-block;
  margin-right: 5px;
}
div:focus {
  outline: none;
}
.modal-body h3 {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-transform: capitalize;
}
.modal-body {
  text-align: center;
}
.modal-body .containers {
  background:rgba(0,0,0,.1);
  border:1px solid #ddd;
  border-radius: 5px;
  max-height: 270px;
  overflow-y: scroll;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,.1);
}
.modal-body > a button {
  margin:-5px 0 1em;
}
.modal-body .containers .collection {
  border-top:1px solid rgba(0,0,0,.1);
  padding: 1em 0 0 0;
  margin: 0em 1em 1em 1em;
}
.modal-body .containers .collection:first-child {
  border-top:none;
}
.ac_results ul li {
  padding: .4em .4em;
  border-radius: 4px;
}
.ac_results ul li:hover {
  cursor:pointer;
  background-color: #5bb75b;
  color:#FFF;
}
.ac_results {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0,0,0,.25);
  background: #dfdfdf;
}
.ac_results ul {
  margin: 0;
  padding: 0 .5em;
  list-style-type: none;
}
